In [2]:
import pandas as pd

# Cargar el archivo Excel subido
file_path = "relaciones_bancarias_ecuador.xlsx"
df = pd.read_excel(file_path)
df.head(6) # Muestra las primeras filas para analizar la estructura del dataset

         Banco_Origen       Banco_Destino    Monto       Fecha
0     Banco Guayaquil     Banco Pichincha   450000  2025-01-05
1     Banco Guayaquil     Banco Rumiñahui  1250000  2025-01-20
2     Banco Pichincha   Banco Bolivariano   700000  2025-02-10
3     Banco Rumiñahui  Banco del Pacífico   300000  2025-03-01
4  Banco del Pacífico     Banco Guayaquil  1600000  2025-04-12
5   Banco Bolivariano     Banco Rumiñahui   550000  2025-05-05